.App {
  max-width: 768px;
  margin: auto;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  overflow: auto;
}

.Main {
  flex: 1 0 auto;
}

.ButtonFixed {
  position: fixed;
  z-index: 9999;
  bottom: 48px;
  right: 24px;
}
